<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <nav class="navbar navbar-expand-lg navbar-light" style="background-color: rgb(64, 201, 64);">
                <div class="container-fluid">
                  <a class="navbar-brand" routerLink="/dashboard"><strong>Task Manager</strong></a>
                  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                  
                    <form class="d-flex">
                      
                      <button class="btn btn-white" type="submit" style="margin: 2px; color: white;"><a routerLink="/signup"><strong>Signup</strong></a></button>
                      <button class="btn btn-white" type="submit" style="margin: 2px; color: white;"><a routerLink="/login"><strong>Login</strong></a></button>
        
                    </form>
                  
                </div>
              </nav>
        </div>

        </div>
    </div>

    <p>Managing Task Makes Life Easier</p>
<div id="sect1" class="container">
    <div class="imgdiv">
        <img src="../assets/task.png" class="img1" alt="task">
    </div>
</div>